
html, body {
  padding: auto;
  margin: 0;
  background: #666;
}

.video_wrapper
{
  margin:0px;
  padding:0px;
  position: relative;
  z-index: 100;
}
.video_wrapper iframe,
.video_wrapper video,
.video_wrapper img
{
  position: fixed;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}